<!doctype html>
<html>
<head>
    <title>{{ title }}</title>
    <link rel="shortcut icon" type="image/x-icon" href="images/favicon.ico"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <meta charset="utf-8">
    <meta property="og:title" content="{{ title }}"/>
    <meta name="twitter:title" value="{{ title }}"/>
    <meta property="og:type" content="website"/>
    {%- if card_image_exists %}
    <meta property="og:image" content="images/card.png"/>
    <meta name="twitter:image" value="images/card.png"/>
    {%- endif %}
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>
<body>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <div class="container-fluid">
        <nav class="navbar sticky-top navbar-expand-sm navbar-dark bg-dark">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav nav mr-auto">
                    {%- for list_item in lists %}
                    {%- if not list_item['hidden'] %}
                    {%- if loop.first %}
                    {%- set active = ' active' %}
                    {%- else %}
                    {%- set active = '' %}
                    {%- endif %}
                    <li class="nav-item">
                        <a class="nav-link{{ active }}" data-toggle="tab" href="#{{ list_item['title']|replace(from=' ', to='_') }}">{{ list_item['title'] }}</a>
                    </li>
                    {%- endif %}
                    {%- endfor %}
                </ul> <!-- Navbar Items -->
            </div> <!-- Navbar -->
        </nav>
        <div class="tab-content">
            {%- for list_item in lists %}
            {%- if not list_item['hidden'] %}
            {%- if loop.first %}
            {%- set active = ' show active' %}
            {%- else %}
            {%- set active = '' %}
            {%- endif %}
            <div class="tab-pane fade{{ active }}" id="{{ list_item['title']|replace(from=' ', to='_') }}" role="tabpanel">
                    <h3>{{ list_item['title'] }}</h3>
                    <ol>
                        {%- for item in list_item['list'] %}
                        <li>{{ item }}</li>
                        {%- endfor %}
                    </ol>
            </div>
            {%- endif %}
            {%- endfor %}
        </div> <!-- Tab Content -->
    </div> <!-- Container -->
    <script>$('.navbar-nav>li>a').on('click', function(){$('.navbar-collapse').collapse('hide');});</script>
</body>
</html>
